@charset "utf-8";
/* Responsive styles */


@media (max-width: 768px) {
    .menu-bar {
        flex-direction: column;
    }
    .menu, .social-media {
        flex-direction: column;
    }
}


.title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 30px;
	weight:100%;
	height:350px;
  background-color: #990000; color: #FFFF66;
}
.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
	 
}
